<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


    <!--
     User user = new User()
     user.setId(1);
     user.setUsername("zhangsan")
 -->
    <select id="selectOne" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>



    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="selectList" resultType="com.lagou.pojo.User" >
        select * from user
    </select>

    <!--增加-->
    <insert id="add" paramterType="com.lagou.pojo.User" >
        insert into user values (#{id},#{username},#{password},#{birthday})
    </insert>

    <!--增加-->
    <update id="update" paramterType="com.lagou.pojo.User" >
        update user set username=#{username},password=#{password} where id=#{id}
    </update>

    <!--删除-->
    <delete id="del" paramterType="com.lagou.pojo.User" >
        delete from user where id=#{id}
    </delete>


</mapper>